
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    font-family: "Playfair Display", serif;
    padding : 0;
    margin : 0;
    line-height: 1.6;
}
body{
    background-color: #EFE9E3;
}

.header{
    background-color: #222;
    height : 40px;
    color : #fff;
    padding : 10px 10px;
}

.navbar{
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .logo{
    text-align : center;
}

.nav-links a{
    text-decoration: none;
    text-align : center;
    font-size : 20px;
    padding : 10px;
    color : #fff;
}

.nav-links a:hover{
    color : #ff9800;
}

.blog-container{
  max-width : 900px;
  margin : 40px auto;
  padding : 0 20px;
}

.blog-container h1, .heading-p{
  text-align: center;
}

.blog-post {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 25px;
  margin-top : 20px;
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.blog-post h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.meta {
  font-weight : 500;
  font-size: 1rem;
  color: #777;
  margin-bottom: 15px;
}

.summary {
  font-size: 1rem;
  margin-bottom: 20px;
}

.read-more {
  text-decoration: none;
  color: #ff9800;
  font-weight: 600;
  transition: color 0.3s;
}

.read-more:hover {
  color: #e67e22;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 30px 20px;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer h3 {
  margin-bottom: 15px;
  font-size: 18px;
  border-left: 4px solid #ff9800;
  padding-left: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer ul li a {
  color: #ddd;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #ff9800;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 14px;
}

@media (max-width : 800px){

  .navbar .nav-links{
    display : none;
  }

  .navbar{
    display : inline-block
  }
  
  .blog-container{
    max-width : 400px;
  }

  .footer-links, .footer-social{
    margin-top : 20px;
  }
}

@media (max-width : 1024px){
  .blog-container{
    max-width : 600px;
  }
}
