
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');




*{
    font-family: "Playfair Display", serif;
    padding : 0;
    margin : 0;
}
body{
    background-color: #EFE9E3;
}

.header{
    background-color: #222;
    height : 40px;
    color : #fff;
    padding : 10px 10px;
}

.navbar{
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .logo{
    text-align : center;
}

.nav-links a{
    text-decoration: none;
    text-align : center;
    font-size : 20px;
    padding : 10px;
    color : #fff;
}

.nav-links a:hover{
    color : #ff9800;
}

.blog-post{
    margin-top : 100px;
    display : flex;
    align-items: center;
    justify-content: space-around;
}

.blog-post img{
    border-radius : 20px;
}

.blog-info{
    backdrop-filter: brightness(10%);
    cursor: pointer;
    width : 50%;
    background-color: #EFE9E3;
    padding : 40px 40px;
    border-radius : 20px;
    border : 1px solid #222;
    box-shadow : 0 0 3px rgba(0,0,0.1);
    transition: 0.5s ease-in-out;
}

.blog-info:hover{
    transform: scale(1.04);
}

.blog-info h2{
    color : #313647;
    font-size : 28px;
}

.blog-info p{
    white-space: pre;
    font-size : 16px;
    font-weight : 500;
}

.blog-info button{
    font-size : 14px;
    font-weight : 500;
    padding : 10px 10px;
    border-radius : 5px;
    background-color: transparent;
    border : 2ps solid #313647;
    cursor: pointer;
}

.blog-info button:hover{
    background-color: #313647;
    color : #EEEEEE;
}

.blog-info h4{
    font-size : 18px;
    font-weight : 600;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 30px 20px;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer h3 {
  margin-bottom: 15px;
  font-size: 18px;
  border-left: 4px solid #ff9800;
  padding-left: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer ul li a {
  color: #ddd;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #ff9800;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 14px;
}

@media (max-width : 912px){

  .blog-post{
    display : flex;
    justify-content: center;
    align-items: center;
  }

  .navbar{
    display: inline-block;
  }

  .nav-links{
    display : none;
  }

  .blog-info{
    width : 70%;
  }
  .blog-info p{ 
    white-space: normal;
  }

  .blog-img img{
   display : none;
  }

  .footer-links, .footer-social{
    margin-top : 20px;
  }
}

@media (max-width : 1200px){

  .blog-post img{
    height : 300px;
    width : 300px;
  }

  .blog-info p{
    white-space: wrap;
  }
}

@media (width : 1280px ){
  .blog-post img{
    height : 300px;
    width : 300px;
  }

  .blog-info p{
    white-space: wrap;
  }
}

